<header class="static">
    <div class="container">
        <div id="menu-toggler"><i class="fa fa-list-ul"></i></div> <a href="/" id="logo">
            <h2>Watch Movies Online Free</h2>
        </a>
        <ul id="menu">
            <li><a href="/home">Home</a></li>
            <li> <a>Genre <i class="fa fa-plus"></i></a>
                <ul class="genre">
                    <li> <a title="Action movies" href="/genre/action">Action</a> </li>
                    <li> <a title="Adventure movies" href="/genre/adventure">Adventure</a> </li>
                    <li> <a title="Animation movies" href="/genre/animation">Animation</a> </li>
                    <li> <a title="Biography movies" href="/genre/biography">Biography</a> </li>
                    <li> <a title="Costume movies" href="/genre/costume">Costume</a> </li>
                    <li> <a title="Comedy movies" href="/genre/comedy">Comedy</a> </li>
                    <li> <a title="Crime movies" href="/genre/crime">Crime</a> </li>
                    <li> <a title="Documentary movies" href="/genre/documentary">Documentary</a> </li>
                    <li> <a title="Drama movies" href="/genre/drama">Drama</a> </li>
                    <li> <a title="Family movies" href="/genre/family">Family</a> </li>
                    <li> <a title="Fantasy movies" href="/genre/fantasy">Fantasy</a> </li>
                    <li> <a title="Game-Show movies" href="/genre/game-show">Game-Show</a> </li>
                    <li> <a title="History movies" href="/genre/history">History</a> </li>
                    <li> <a title="Horror movies" href="/genre/horror">Horror</a> </li>
                    <li> <a title="Kungfu movies" href="/genre/kungfu">Kungfu</a> </li>
                    <li> <a title="Music movies" href="/genre/music">Music</a> </li>
                    <li> <a title="Mystery movies" href="/genre/mystery">Mystery</a> </li>
                    <li> <a title="Reality-TV movies" href="/genre/reality-tv">Reality-TV</a> </li>
                    <li> <a title="Romance movies" href="/genre/romance">Romance</a> </li>
                    <li> <a title="Sci-Fi movies" href="/genre/sci-fi">Sci-Fi</a> </li>
                    <li> <a title="Sport movies" href="/genre/sport">Sport</a> </li>
                    <li> <a title="Thriller movies" href="/genre/thriller">Thriller</a> </li>
                    <li> <a title="TV Show movies" href="/genre/tv-show">TV Show</a> </li>
                    <li> <a title="War movies" href="/genre/war">War</a> </li>
                    <li> <a title="Western movies" href="/genre/western">Western</a> </li>
                </ul>
            </li>
            <li> <a>Country <i class="fa fa-plus"></i></a>
                <ul class="country">
                    <li> <a title="United States movies" href="/country/united-states">United States</a> </li>
                    <li> <a title="United Kingdom movies" href="/country/united-kingdom">United Kingdom</a> </li>
                    <li> <a title="Canada movies" href="/country/canada">Canada</a> </li>
                    <li> <a title="France movies" href="/country/france">France</a> </li>
                    <li> <a title="West Germany movies" href="/country/west-germany">West Germany</a> </li>
                    <li> <a title="Japan movies" href="/country/japan">Japan</a> </li>
                    <li> <a title="Australia movies" href="/country/australia">Australia</a> </li>
                    <li> <a title="Italy movies" href="/country/italy">Italy</a> </li>
                    <li> <a title="International movies" href="/country/international">International</a> </li>
                    <li> <a title="Spain movies" href="/country/spain">Spain</a> </li>
                    <li> <a title="Hong Kong movies" href="/country/hongkong">Hong Kong</a> </li>
                    <li> <a title="China movies" href="/country/china">China</a> </li>
                    <li> <a title="Ireland movies" href="/country/ireland">Ireland</a> </li>
                    <li> <a title="Korea movies" href="/country/korea">Korea</a> </li>
                    <li> <a title="India movies" href="/country/india">India</a> </li>
                    <li> <a title="Belgium movies" href="/country/belgium">Belgium</a> </li>
                    <li> <a title="Denmark movies" href="/country/denmark">Denmark</a> </li>
                    <li> <a title="Sweden movies" href="/country/sweden">Sweden</a> </li>
                    <li> <a title="New Zealand movies" href="/country/new-zealand">New Zealand</a> </li>
                    <li> <a title="Netherlands movies" href="/country/netherlands">Netherlands</a> </li>
                    <li> <a title="South Africa movies" href="/country/south-africa">South Africa</a> </li>
                    <li> <a title="Norway movies" href="/country/norway">Norway</a> </li>
                    <li> <a title="Mexico movies" href="/country/mexico">Mexico</a> </li>
                    <li> <a title="Switzerland movies" href="/country/switzerland">Switzerland</a> </li>
                    <li> <a title="Austria movies" href="/country/austria">Austria</a> </li>
                    <li> <a title="Czech Republic movies" href="/country/czech-republic">Czech Republic</a> </li>
                    <li> <a title="Brazil movies" href="/country/brazil">Brazil</a> </li>
                    <li> <a title="Russia movies" href="/country/russia">Russia</a> </li>
                    <li> <a title="Argentina movies" href="/country/argentina">Argentina</a> </li>
                    <li> <a title="Hungary movies" href="/country/hungary">Hungary</a> </li>
                    <li> <a title="Poland movies" href="/country/poland">Poland</a> </li>
                    <li> <a title="Finland movies" href="/country/finland">Finland</a> </li>
                    <li> <a title="Israel movies" href="/country/israel">Israel</a> </li>
                    <li> <a title="Romania movies" href="/country/romania">Romania</a> </li>
                    <li> <a title="Luxembourg movies" href="/country/luxembourg">Luxembourg</a> </li>
                    <li> <a title="Thailand movies" href="/country/thailand">Thailand</a> </li>
                    <li> <a title="Taiwan movies" href="/country/taiwan">Taiwan</a> </li>
                </ul>
            </li>
            <li><a href="/movies" title="Movies">Movies</a></li>
            <!-- <li><a href="/tv-series" title="TV-Series">TV-Series</a></li>
            <li><a href="/top-imdb" title="Top IMDb">Top IMDb</a></li>
            <li><a href="#" data-toggle="modal" data-target="#md-request">Request</a></li> -->
        </ul>
        <div id="user">
            <div class="guest" data-toggle="modal" data-target="#md-login">
                <i class="fa fa-user-circle"></i>
                <span>Login/ Register</span>
            </div>
        </div>
        <div id="search-toggler"><i class="fa fa-search"></i></div>
        <form id="search" autocomplete="off" action="search"> 
            <input  name="search" [(ngModel)]="searchText" type="text" 
                placeholder="Enter your keywords..." autocomplete="off"> <button></button>
            <div class="suggestions"></div>
        </form>
    </div>
</header>
<div class="bg-dark" id="body">
    <div class="container mt-5">
        
       
        <section class="bl">
          
            <div class="heading">
                <h1>Movies</h1>
                <div id="filter-toggler"><i class="fa fa-filter"></i> Filter</div>
                <div class="clearfix"></div>
            </div>
            <form class="filters normal" action="/filter">
                <div class="filter dropdown"> <button class="dropdown-toggle" data-toggle="dropdown"> <i
                            class="fa fa-folder-open"></i> Genre <span class="value"
                            data-label-placement="true">All</span> </button>
                    <ul class="dropdown-menu genre lg c4">
                        <li> <input name="genre[]" type="checkbox" id="genre_action" value="25"> <label
                                for="genre_action">Action</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_adventure" value="17"> <label
                                for="genre_adventure">Adventure</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_animation" value="10"> <label
                                for="genre_animation">Animation</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_biography" value="215"> <label
                                for="genre_biography">Biography</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_costume" value="1693"> <label
                                for="genre_costume">Costume</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_comedy" value="14"> <label
                                for="genre_comedy">Comedy</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_crime" value="26"> <label
                                for="genre_crime">Crime</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_documentary" value="131"> <label
                                for="genre_documentary">Documentary</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_drama" value="1"> <label
                                for="genre_drama">Drama</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_family" value="43"> <label
                                for="genre_family">Family</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_fantasy" value="31"> <label
                                for="genre_fantasy">Fantasy</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_game-show" value="212"> <label
                                for="genre_game-show">Game-Show</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_history" value="47"> <label
                                for="genre_history">History</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_horror" value="74"> <label
                                for="genre_horror">Horror</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_kungfu" value="248"> <label
                                for="genre_kungfu">Kungfu</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_music" value="199"> <label
                                for="genre_music">Music</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_mystery" value="64"> <label
                                for="genre_mystery">Mystery</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_reality-tv" value="4"> <label
                                for="genre_reality-tv">Reality-TV</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_romance" value="23"> <label
                                for="genre_romance">Romance</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_sci-fi" value="15"> <label
                                for="genre_sci-fi">Sci-Fi</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_sport" value="44"> <label
                                for="genre_sport">Sport</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_thriller" value="7"> <label
                                for="genre_thriller">Thriller</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_tv-show" value="139"> <label
                                for="genre_tv-show">TV Show</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_war" value="58"> <label
                                for="genre_war">War</label> </li>
                        <li> <input name="genre[]" type="checkbox" id="genre_western" value="28"> <label
                                for="genre_western">Western</label> </li>
                        <li> <input type="checkbox" id="genre_mode" name="genre_mode" value="and"> <label
                                style="font-weight: 100" for="genre_mode">Include all selected</label> </li>
                    </ul>
                </div>
                
                <div class="filter dropdown">
                    
                    <ng-multiselect-dropdown class="" [settings]="dropdownSettings" [placeholder]="'Select category'"
                    [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)">
                  </ng-multiselect-dropdown>
                    <!-- <button class="dropdown-toggle" data-toggle="dropdown"> <i
                            class="fa fa-clone"></i> Type <span class="value" data-label-placement="true">Movie</span>
                    </button>
                    <ul class="dropdown-menu c1">
                        <li> <input name="type[]" id="type_movie" type="checkbox" value="movie" checked="checked">
                            <label for="type_movie">Movie</label> </li>
                        <li> <input name="type[]" id="type_series" type="checkbox" value="series"> <label
                                for="type_series">TV-Series</label> </li>
                    </ul> -->
                </div>
                <div class="filter dropdown"> <button class="dropdown-toggle" data-toggle="dropdown"> <i
                            class="fa fa-globe-americas"></i> Country <span class="value"
                            data-label-placement="true">All</span> </button>
                    <ul class="dropdown-menu lg c4">
                        <li> <input name="country[]" type="checkbox" id="country_united-states" value="2"> <label
                                for="country_united-states">United States</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_united-kingdom" value="8"> <label
                                for="country_united-kingdom">United Kingdom</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_canada" value="181861"> <label
                                for="country_canada">Canada</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_france" value="11"> <label
                                for="country_france">France</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_west-germany" value="181873"> <label
                                for="country_west-germany">West Germany</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_japan" value="36"> <label
                                for="country_japan">Japan</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_australia" value="181851"> <label
                                for="country_australia">Australia</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_italy" value="181857"> <label
                                for="country_italy">Italy</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_international" value="18"> <label
                                for="country_international">International</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_spain" value="181871"> <label
                                for="country_spain">Spain</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_hongkong" value="2630"> <label
                                for="country_hongkong">Hong Kong</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_china" value="108"> <label
                                for="country_china">China</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_ireland" value="181862"> <label
                                for="country_ireland">Ireland</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_korea" value="79"> <label
                                for="country_korea">Korea</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_india" value="34"> <label
                                for="country_india">India</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_belgium" value="181849"> <label
                                for="country_belgium">Belgium</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_denmark" value="181855"> <label
                                for="country_denmark">Denmark</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_sweden" value="181883"> <label
                                for="country_sweden">Sweden</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_new-zealand" value="181847"> <label
                                for="country_new-zealand">New Zealand</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_netherlands" value="181848"> <label
                                for="country_netherlands">Netherlands</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_south-africa" value="181850"> <label
                                for="country_south-africa">South Africa</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_norway" value="181901"> <label
                                for="country_norway">Norway</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_mexico" value="181852"> <label
                                for="country_mexico">Mexico</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_switzerland" value="181869"> <label
                                for="country_switzerland">Switzerland</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_austria" value="181882"> <label
                                for="country_austria">Austria</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_czech-republic" value="181859"> <label
                                for="country_czech-republic">Czech Republic</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_brazil" value="181867"> <label
                                for="country_brazil">Brazil</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_russia" value="181860"> <label
                                for="country_russia">Russia</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_argentina" value="181863"> <label
                                for="country_argentina">Argentina</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_hungary" value="181876"> <label
                                for="country_hungary">Hungary</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_poland" value="181880"> <label
                                for="country_poland">Poland</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_finland" value="181877"> <label
                                for="country_finland">Finland</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_israel" value="181887"> <label
                                for="country_israel">Israel</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_romania" value="181895"> <label
                                for="country_romania">Romania</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_luxembourg" value="181878"> <label
                                for="country_luxembourg">Luxembourg</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_thailand" value="94"> <label
                                for="country_thailand">Thailand</label> </li>
                        <li> <input name="country[]" type="checkbox" id="country_taiwan" value="1434"> <label
                                for="country_taiwan">Taiwan</label> </li>
                    </ul>
                </div>
                <div class="filter dropdown"> <button class="dropdown-toggle" data-toggle="dropdown"> <i
                            class="fa fa-calendar-alt"></i> Year <span class="value"
                            data-label-placement="true">All</span> </button>
                    <ul class="dropdown-menu md c3">
                        <li> <input name="release[]" type="checkbox" id="release_2020" value="2020"> <label
                                for="release_2020">2020</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_2019" value="2019"> <label
                                for="release_2019">2019</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_2018" value="2018"> <label
                                for="release_2018">2018</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_2017" value="2017"> <label
                                for="release_2017">2017</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_2016" value="2016"> <label
                                for="release_2016">2016</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_2015" value="2015"> <label
                                for="release_2015">2015</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_2014" value="2014"> <label
                                for="release_2014">2014</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_2013" value="2013"> <label
                                for="release_2013">2013</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_2012" value="2012"> <label
                                for="release_2012">2012</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_2011" value="2011"> <label
                                for="release_2011">2011</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_2010" value="2010"> <label
                                for="release_2010">2010</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_2009" value="2009"> <label
                                for="release_2009">2009</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_2008" value="2008"> <label
                                for="release_2008">2008</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_2007" value="2007"> <label
                                for="release_2007">2007</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_2006" value="2006"> <label
                                for="release_2006">2006</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_2005" value="2005"> <label
                                for="release_2005">2005</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_2004" value="2004"> <label
                                for="release_2004">2004</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_2003" value="2003"> <label
                                for="release_2003">2003</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_2002" value="2002"> <label
                                for="release_2002">2002</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_2001" value="2001"> <label
                                for="release_2001">2001</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_2000" value="2000"> <label
                                for="release_2000">2000</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_1990s" value="1990s"> <label
                                for="release_1990s">1990s</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_1980s" value="1980s"> <label
                                for="release_1980s">1980s</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_1970s" value="1970s"> <label
                                for="release_1970s">1970s</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_1960s" value="1960s"> <label
                                for="release_1960s">1960s</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_1950s" value="1950s"> <label
                                for="release_1950s">1950s</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_1940s" value="1940s"> <label
                                for="release_1940s">1940s</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_1930s" value="1930s"> <label
                                for="release_1930s">1930s</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_1920s" value="1920s"> <label
                                for="release_1920s">1920s</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_1910s" value="1910s"> <label
                                for="release_1910s">1910s</label> </li>
                        <li> <input name="release[]" type="checkbox" id="release_1900s" value="1900s"> <label
                                for="release_1900s">1900s</label> </li>
                    </ul>
                </div>
                <div class="filter dropdown"> <button class="dropdown-toggle" data-toggle="dropdown"> <i
                            class="fa fa-cube"></i> Quality <span class="value" data-label-placement="true">All</span>
                    </button>
                    <ul class="dropdown-menu c1">
                        <li> <input name="quality[]" id="quality_HD" type="checkbox" value="HD"> <label
                                for="quality_HD">HD</label> </li>
                        <li> <input name="quality[]" id="quality_HDRip" type="checkbox" value="HDRip"> <label
                                for="quality_HDRip">HDRip</label> </li>
                        <li> <input name="quality[]" id="quality_SD" type="checkbox" value="SD"> <label
                                for="quality_SD">SD</label> </li>
                        <li> <input name="quality[]" id="quality_TS" type="checkbox" value="TS"> <label
                                for="quality_TS">TS</label> </li>
                        <li> <input name="quality[]" id="quality_CAM" type="checkbox" value="CAM"> <label
                                for="quality_CAM">CAM</label> </li>
                    </ul>
                </div>
                <div class="filter dropdown"> <button class="dropdown-toggle" data-toggle="dropdown"> <i
                            class="fa fa-closed-captioning"></i> Subtitle <span class="value"
                            data-label-placement="true">All</span> </button>
                    <ul class="dropdown-menu c1">
                        <li> <input name="subtitle[]" id="type_1" type="checkbox" value="1"> <label
                                for="type_1">Yes</label> </li>
                        <li> <input name="subtitle[]" id="type_0" type="checkbox" value="0"> <label
                                for="type_0">No</label> </li>
                    </ul>
                </div>
                <div class="filter dropdown"> <button class="dropdown-toggle" data-toggle="dropdown"> <i
                            class="fa fa-sort"></i> Sort <span class="value" data-label-placement="true">Default</span>
                    </button>
                    <ul class="dropdown-menu sort c1">
                        <li> <input name="sort" id="sort_default" type="radio" value="default" checked="checked"> <label
                                for="sort_default">Default</label> </li>
                        <li> <input name="sort" id="sort_post_date:desc" type="radio" value="post_date:desc"> <label
                                for="sort_post_date:desc">Recently Added</label> </li>
                        <li> <input name="sort" id="sort_views:desc" type="radio" value="views:desc"> <label
                                for="sort_views:desc">Most Watched</label> </li>
                        <li> <input name="sort" id="sort_title:asc" type="radio" value="title:asc"> <label
                                for="sort_title:asc">Name</label> </li>
                        <li> <input name="sort" id="sort_imdb:desc" type="radio" value="imdb:desc"> <label
                                for="sort_imdb:desc">IMDb</label> </li>
                        <li> <input name="sort" id="sort_year:desc" type="radio" value="year:desc"> <label
                                for="sort_year:desc">Release Date</label> </li>
                    </ul>
                </div>
                <div class="filter submit"> <button type="submit" class="btn btn-sm btn-primary"><i
                            class="fa fa-filter"></i> Filter</button> </div>
                <div class="clearfix"></div>
            </form>
            <div class="content">
                <div  class="filmlist md">
                    <div *ngFor="let movie of movies | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize | filter:searchText" class="item tooltipstered" data-tip="k3zmr?/cache18e708">
                        <div class="icons">
                            <div  class="quality">{{movie.quality}}</div>
                        </div> 
                        <a [routerLink]="['/detail']"  href="/film/black-box.k3zmr" title="{{movie.title}}" class="poster">
                            <img [src]="movie.cover">
                        </a> <span class="imdb"><i class="fa fa-star"></i> ?</span>
                        <h3><a class="title" title="Black Box" href="/film/black-box.k3zmr">{{movie.title}}</a></h3>
                        <div class="meta"> {{movie.year}} <i class="dot"></i> {{movie.time}} <i class="type">{{movie.type}}</i> </div>
                    </div>
                   
                    <!-- <div class="item tooltipstered" data-tip="lr0xq?/cacheca3d40">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/love-at-look-lodge.lr0xq" title="Love at Look Lodge" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/b/bf/bf4b7ea4256c06089b3e351553e45cdc.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 5.5</span>
                        <h3><a class="title" title="Love at Look Lodge" href="/film/love-at-look-lodge.lr0xq">Love at
                                Look Lodge</a></h3>
                        <div class="meta"> 2020 <i class="dot"></i> 81 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="mv1jp?/cache8958c4">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/the-doorman.mv1jp" title="The Doorman" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/d/d8/d8bc26408bab0547f3b4626195de4c85.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> ?</span>
                        <h3><a class="title" title="The Doorman" href="/film/the-doorman.mv1jp">The Doorman</a></h3>
                        <div class="meta"> 2020 <i class="dot"></i> na min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="595wv?/cachef33754">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/then-came-you.595wv" title="Then Came You" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/8/82/829b6b6939871bbc0f1b7d672a71ad23.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 4.8</span>
                        <h3><a class="title" title="Then Came You" href="/film/then-came-you.595wv">Then Came You</a>
                        </h3>
                        <div class="meta"> 2020 <i class="dot"></i> na min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="jpy2y?/cachea46fb1">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/youve-got-this.jpy2y" title="You've Got This" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/3/3c/3c112faf4cbaa1040d6f16b4bc99c192.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 6.1</span>
                        <h3><a class="title" title="You've Got This" href="/film/youve-got-this.jpy2y">You've Got
                                This</a></h3>
                        <div class="meta"> 2020 <i class="dot"></i> 111 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="7250y?/cache97b04a">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/lets-scare-julie.7250y" title="Let's Scare Julie" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/5/5d/5d0eba3e6c0887988b82d765c9695eb1.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 4.2</span>
                        <h3><a class="title" title="Let's Scare Julie" href="/film/lets-scare-julie.7250y">Let's Scare
                                Julie</a></h3>
                        <div class="meta"> 2020 <i class="dot"></i> 83 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="8x523?/cache83c472">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/hosts.8x523" title="Hosts" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/b/b4/b4da82de9d447198f609386b6a95c9f1.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 5.9</span>
                        <h3><a class="title" title="Hosts" href="/film/hosts.8x523">Hosts</a></h3>
                        <div class="meta"> 2020 <i class="dot"></i> 89 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="mv1j7?/cacheeab66a">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/dick-johnson-is-dead.mv1j7" title="Dick Johnson Is Dead" class="poster">
                            <img
                                src="//static.fmovies.to/i/cache/images/0/08/089f68c8dd6554ac5c96beadc7470e1f.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 7.9</span>
                        <h3><a class="title" title="Dick Johnson Is Dead" href="/film/dick-johnson-is-dead.mv1j7">Dick
                                Johnson Is Dead</a></h3>
                        <div class="meta"> 2020 <i class="dot"></i> 89 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="lr0xm?/cacheb6e5cd">
                        <div class="icons">
                            <div class="quality">SD</div>
                        </div> <a href="/film/seized.lr0xm" title="Seized" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/2/2b/2bca7af53bd6d5c4d65d34a975809e61.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> ?</span>
                        <h3><a class="title" title="Seized" href="/film/seized.lr0xm">Seized</a></h3>
                        <div class="meta"> 2020 <i class="dot"></i> 85 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="k3zx6?/cache7e196e">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/a-toot-toot-cory-carson-halloween.k3zx6"
                            title="A Toot-Toot Cory Carson Halloween" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/f/f0/f0353058811c83c9b97c2d7739cf0249.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 4.8</span>
                        <h3><a class="title" title="A Toot-Toot Cory Carson Halloween"
                                href="/film/a-toot-toot-cory-carson-halloween.k3zx6">A Toot-Toot Cory Carson
                                Halloween</a></h3>
                        <div class="meta"> 2020 <i class="dot"></i> 24 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="4251x?/cache638a83">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/vampires-vs-the-bronx.4251x" title="Vampires vs. the Bronx"
                            class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/2/29/2974e36970d5988d228a5c26fed3293e.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 4.5</span>
                        <h3><a class="title" title="Vampires vs. the Bronx"
                                href="/film/vampires-vs-the-bronx.4251x">Vampires vs. the Bronx</a></h3>
                        <div class="meta"> 2020 <i class="dot"></i> 85 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="xv9vw?/cache5a0940">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/save-yourselves.xv9vw" title="Save Yourselves!" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/2/26/2614db8a12e91324b698b4b966fdad4d.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 6.1</span>
                        <h3><a class="title" title="Save Yourselves!" href="/film/save-yourselves.xv9vw">Save
                                Yourselves!</a></h3>
                        <div class="meta"> 2020 <i class="dot"></i> 93 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="yvxj1?/cache11aa93">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/digimon-adventure-last-evolution-kizuna.yvxj1"
                            title="Digimon Adventure: Last Evolution Kizuna" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/f/f4/f42156472769dc4e11d521314b636a6a.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 7.6</span>
                        <h3><a class="title" title="Digimon Adventure: Last Evolution Kizuna"
                                href="/film/digimon-adventure-last-evolution-kizuna.yvxj1">Digimon Adventure: Last
                                Evolution Kizuna</a></h3>
                        <div class="meta"> 2020 <i class="dot"></i> 94 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="3p509?/cachef66f9e">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/death-of-me.3p509" title="Death of Me" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/7/71/7148e89c17609244c49dd92fed40f952.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 5.5</span>
                        <h3><a class="title" title="Death of Me" href="/film/death-of-me.3p509">Death of Me</a></h3>
                        <div class="meta"> 2020 <i class="dot"></i> 94 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="zxykl?/cachec94c2b">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/android-uprising.zxykl" title="Android Uprising" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/f/f3/f329938af46e21d5de4b44dba59a42e8.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> ?</span>
                        <h3><a class="title" title="Android Uprising" href="/film/android-uprising.zxykl">Android
                                Uprising</a></h3>
                        <div class="meta"> 2020 <i class="dot"></i> na min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="2p500?/cachebba1e3">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/2067.2p500" title="2067" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/0/0b/0bfcafaf70200663ba5222df44a0521c.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 4.8</span>
                        <h3><a class="title" title="2067" href="/film/2067.2p500">2067</a></h3>
                        <div class="meta"> 2020 <i class="dot"></i> 114 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="8x5x3?/cache1ebd6e">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/12-hour-shift.8x5x3" title="12 Hour Shift" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/7/76/76daadba12b5c5ac196a190105e3e136.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 6.5</span>
                        <h3><a class="title" title="12 Hour Shift" href="/film/12-hour-shift.8x5x3">12 Hour Shift</a>
                        </h3>
                        <div class="meta"> 2020 <i class="dot"></i> 86 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="2p5p0?/cached946ce">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/money-machine.2p5p0" title="Money Machine" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/a/a6/a6f0bb618771ce62329beace56ac39be.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> ?</span>
                        <h3><a class="title" title="Money Machine" href="/film/money-machine.2p5p0">Money Machine</a>
                        </h3>
                        <div class="meta"> 2020 <i class="dot"></i> 85 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="zxyxl?/cacheccb0b6">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/couch-connections.zxyxl" title="Couch Connections" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/f/f5/f5fa75682c4086fb045b4584dbd257e6.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 8.1</span>
                        <h3><a class="title" title="Couch Connections" href="/film/couch-connections.zxyxl">Couch
                                Connections</a></h3>
                        <div class="meta"> 2020 <i class="dot"></i> 75 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="0q8qr?/cache7ddac6">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/michelle-buteau-welcome-to-buteaupia.0q8qr"
                            title="Michelle Buteau: Welcome to Buteaupia" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/8/8c/8c5a40632fc6d697a000d8ef2ed44b59.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 6.5</span>
                        <h3><a class="title" title="Michelle Buteau: Welcome to Buteaupia"
                                href="/film/michelle-buteau-welcome-to-buteaupia.0q8qr">Michelle Buteau: Welcome to
                                Buteaupia</a></h3>
                        <div class="meta"> 2020 <i class="dot"></i> 58 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="1q5qq?/cached87a5a">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/the-fallen-astronaut.1q5qq" title="The Fallen Astronaut" class="poster">
                            <img
                                src="//static.fmovies.to/i/cache/images/f/f6/f6836fea34c1733f33fc97f566620d89.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 6</span>
                        <h3><a class="title" title="The Fallen Astronaut" href="/film/the-fallen-astronaut.1q5qq">The
                                Fallen Astronaut</a></h3>
                        <div class="meta"> 2020 <i class="dot"></i> 55 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="clearfix"></div> -->
                </div>
               
            </div>
           
        </section>
        
        <div class="clearfix"></div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <ngb-pagination [pageSize] = "5" [collectionSize]="15" [(page)]="page"  aria-label="Default pagination"></ngb-pagination>

            </div>
        </div>
    </div>

</div>

<footer>
    <div class="top">
        <div class="container">
            <div class="about">
                <div>
                    <div class="logo"></div>
                    <div class="desc">
                        <p>FMovies.to is top of <strong>free streaming website</strong>, where to watch movies online
                            free without registration required. With a big database and great features, we're confident
                            FMovies is the best free movies online website in the space that you can't simply miss!</p>
                        <p> <a href="https://twitter.com/fmoviesdotto" target="_blank"><i class="fab fa-twitter"></i>
                                Connect with us on twitter</a> </p>
                        <p class="small font-italic">This site does not store any files on our server, we only linked to
                            the media which is hosted on 3rd party services.</p>
                    </div>
                </div>
            </div>
            <div class="links">
                <div class="bl">
                    <div class="heading">Links</div>
                    <ul>
                        <li><a href="/movies">Movies</a></li>
                        <li><a href="/tv-series">TV-Shows</a></li>
                        <li><a href="/most-watched">Most Watched</a></li>
                        <li><a href="/top-imdb">Top IMDb</a></li>
                    </ul>
                </div>
                <div class="bl">
                    <div class="heading"></div>
                    <ul>
                        <li><a href="https://9anime.to" title="Watch Anime Online" target="_blank">Watch Anime
                                Online</a></li>
                        <li><a href="https://fbox.to" title="Watch tv shows online">Watch Movies Online</a></li>
                        <li><a href="https://flixtor.video" title="flixtor movies">FlixTor</a></li>
                        <li><a href="https://myflixer.ru" title="myflixer, myflixer movies">MyFlixer</a></li>
                    </ul>
                </div>
                <div class="bl">
                    <div class="heading"></div>
                    <ul>
                        <li><a href="contact" title="Contact us">Contact</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#md-request">Request</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</footer>