<div class="watch-extra py-5 container-fluid " itemscope="" itemtype="http://schema.org/Movie">
    <div class="bl-1 py-5 ">
        <section class="info">
            <div class="poster"> <span><img itemprop="image"
                        src="//static.fmovies.to/i/cache/images/6/66/661e13332a29f064d5644aa313575a2c.jpg-w380"
                        alt="The True Cost 2015"></span> </div>
            <div class="info">
                <div class="rating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating"
                    data-value="7.9" data-count="84">
                    <meta itemprop="bestRating" content="10"><span class="stars"><span class="fa fa-star"
                            data-value="2"><i class="fa fa-star"></i></span><span class="fa fa-star" data-value="4"><i
                                class="fa fa-star"></i></span><span class="fa fa-star" data-value="6"><i
                                class="fa fa-star"></i></span><span class="fa fa-star" data-value="8"><i
                                class="fa fa-star-half"></i></span><span class="fa fa-star" data-value="10"><i
                                class="fa fa-star none"></i></span></span> <span class="text"
                        data-text="<span itemprop='ratingValue'>$1</span> of <span itemprop='ratingCount'>$2</span>">
                        <span itemprop="ratingValue">7.9</span> of <span itemprop="ratingCount">84</span> </span> </div>
                <h1 itemprop="name" class="title">The True Cost</h1>
                <div class="meta lg"> <span class="quality">HD</span> <span class="imdb"><i class="fa fa-star"></i>
                        7.7</span> <span>92 min</span> </div>
                <div itemprop="description" class="desc shorting" data-type="text"> This is a story about clothing. It's
                    about the clothes we wear, the people who make them, and the impact the industry is having on our
                    world. The price of clothing has been decreasing for decades, while the human and environmental
                    costs have grown dramatically. The True...<span class="more"><i class="fa fa-plus"></i> more</span>
                </div>
                <div class="meta">
                    <div> <span>Country:</span> <span> <a href="https://fmovies.to/country/united-states"
                                title="United States movies">United States</a>, <a
                                href="https://fmovies.to/country/united-kingdom" title="United Kingdom movies">United
                                Kingdom</a>, <a href="https://fmovies.to/country/france"
                                title="France movies">France</a>, <a href="https://fmovies.to/country/international"
                                title="International movies">International</a>, <a
                                href="https://fmovies.to/country/india" title="India movies">India</a>, <a
                                href="https://fmovies.to/country/china" title="China movies">China</a>, <a
                                href="https://fmovies.to/country/denmark" title="Denmark movies">Denmark</a>, <a
                                href="https://fmovies.to/country/italy" title="Italy movies">Italy</a> </span> </div>
                    <div> <span>Genre:</span> <span> <a href="https://fmovies.to/genre/drama" title="Drama">Drama</a>,
                            <a href="https://fmovies.to/genre/documentary" title="Documentary">Documentary</a>, <a
                                href="https://fmovies.to/genre/biography" title="Biography">Biography</a> </span> </div>
                    <div> <span>Release:</span> <span itemprop="dateCreated">2015-05-29</span> </div>
                    <div><span>Director:</span> <span class="shorting" data-max="20">Andrew Morgan</span> </div>
                    <div class="casts"> <span>Cast:</span> <span class="shorting" data-type="link" data-max="5"> <a
                                itemprop="actor" itemscope="" itemtype="http://schema.org/Person"
                                href="https://fmovies.to/star/vandana-shiva" title="Vandana Shiva"><span
                                    itemprop="name">Vandana Shiva</span></a>, <a itemprop="actor" itemscope=""
                                itemtype="http://schema.org/Person" href="https://fmovies.to/star/safia-minney"
                                title="Safia Minney"><span itemprop="name">Safia Minney</span></a>, <a itemprop="actor"
                                itemscope="" itemtype="http://schema.org/Person"
                                href="https://fmovies.to/star/stella-mccartney" title="Stella Mccartney"><span
                                    itemprop="name">Stella Mccartney</span></a> </span> </div>
                    <div class="tags"> <span>Tags:</span> <span> <a href="https://fmovies.to/tag/the-true-cost"
                                rel="tag">the true cost</a> </span> </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </section>
        <section id="comment" class="bl">
            <div class="heading simple">
                <h2 class="title">Comment</h2>
            </div>
            <div class="content">
                <div id="disqus_thread"><iframe id="dsq-app5705" name="dsq-app5705" allowtransparency="true"
                        frameborder="0" scrolling="no" tabindex="0" title="Disqus" width="100%"
                        src="https://disqus.com/embed/comments/?base=default&amp;f=fmoviescomment&amp;t_i=37&amp;t_u=http%3A%2F%2Ffmovies.to%2Ffilm%2Fzl3&amp;t_d=FMovies%20%7C%20Watch%20The%20True%20Cost%20(2015)%20Online%20Free%20on%20fmovies.to&amp;t_t=FMovies%20%7C%20Watch%20The%20True%20Cost%20(2015)%20Online%20Free%20on%20fmovies.to&amp;s_o=default#version=0409767b77e9f4ca47a4b63a4ec27682"
                        style="width: 1px !important; min-width: 100% !important; border: none !important; overflow: hidden !important; height: 652px !important;"
                        horizontalscrolling="no" verticalscrolling="no"></iframe></div>
                <script>
                    var disqus_config = function () {
                        this.page.url = 'http://fmovies.to/film/zl3';
                        this.page.identifier = '37';
                    };
                    (function () {
                        var d = document, s = d.createElement('script');
                        s.src = 'https://fmoviescomment.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
            </div>
        </section>
    </div>
    <div class="bl-2">
        <section class="bl">
            <div class="heading simple">
                <h2 class="title">You may also like</h2>
            </div>
            <div class="content">
                <div class="filmlist ">
                    <div class="item tooltipstered" data-tip="0r3v7?/cachea964d8">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/the-cost-of-love.0r3v7" title="The Cost of Love" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/c/cd/cdefeed4dd7d6c89576d3496dc5648a6.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 4.2</span>
                        <h3><a class="title" title="The Cost of Love" href="/film/the-cost-of-love.0r3v7">The Cost of
                                Love</a></h3>
                        <div class="meta"> 2011 <i class="dot"></i> 85 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="0qqn3?/cache6810c2">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/the-true-don-quixote.0qqn3" title="The True Don Quixote" class="poster">
                            <img
                                src="//static.fmovies.to/i/cache/images/9/9c/9ccb27101ce079f80d68291deab7d255.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 4.9</span>
                        <h3><a class="title" title="The True Don Quixote" href="/film/the-true-don-quixote.0qqn3">The
                                True Don Quixote</a></h3>
                        <div class="meta"> 2019 <i class="dot"></i> 84 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="pjyvx?/cachef95ae0">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/true-to-the-game.pjyvx" title="True to the Game" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/6/6b/6b05019db6970894a77c64b67465e110.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 5.2</span>
                        <h3><a class="title" title="True to the Game" href="/film/true-to-the-game.pjyvx">True to the
                                Game</a></h3>
                        <div class="meta"> 2017 <i class="dot"></i> 108 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="npmyj?/cache331e45">
                        <div class="icons">
                            <div class="quality">HDRip</div>
                        </div> <a href="/film/the-kemps-all-true.npmyj" title="The Kemps: All True" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/c/cb/cb6273765486981946907c8c19c2ee53.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 7</span>
                        <h3><a class="title" title="The Kemps: All True" href="/film/the-kemps-all-true.npmyj">The
                                Kemps: All True</a></h3>
                        <div class="meta"> 2020 <i class="dot"></i> 58 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="ox4mz?/cache503dae">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/true-and-the-rainbow-kingdom.ox4mz" title="True and the Rainbow Kingdom"
                            class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/7/79/7936bdd0f7ba796ef62f8b17f4ab59de.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 7.1</span>
                        <h3><a class="title" title="True and the Rainbow Kingdom"
                                href="/film/true-and-the-rainbow-kingdom.ox4mz">True and the Rainbow Kingdom</a></h3>
                        <div class="meta"> 2017 <i class="dot"></i> 22 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="xv83w?/cachececba1">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/true-history-of-the-kelly-gang.xv83w"
                            title="True History of the Kelly Gang" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/e/ee/ee9e3030e8bcac22bda0f18a0f4c8143.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 6.1</span>
                        <h3><a class="title" title="True History of the Kelly Gang"
                                href="/film/true-history-of-the-kelly-gang.xv83w">True History of the Kelly Gang</a>
                        </h3>
                        <div class="meta"> 2019 <i class="dot"></i> 124 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="0q3w5?/cache1a724f">
                        <div class="icons">
                            <div class="quality">HDRip</div>
                        </div> <a href="/film/cost-of-a-soul.0q3w5" title="Cost of a Soul" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/4/44/445d545a9f211d5ab9f46a55d89e1ade.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 5.3</span>
                        <h3><a class="title" title="Cost of a Soul" href="/film/cost-of-a-soul.0q3w5">Cost of a Soul</a>
                        </h3>
                        <div class="meta"> 2010 <i class="dot"></i> 107 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="item tooltipstered" data-tip="rlx2y?/cache4bb515">
                        <div class="icons">
                            <div class="quality">HD</div>
                        </div> <a href="/film/true-grit.rlx2y" title="True Grit" class="poster"> <img
                                src="//static.fmovies.to/i/cache/images/4/4e/4ec90402dbb9ce001dd0b78e6813842c.jpg-w180">
                        </a> <span class="imdb"><i class="fa fa-star"></i> 7.4</span>
                        <h3><a class="title" title="True Grit" href="/film/true-grit.rlx2y">True Grit</a></h3>
                        <div class="meta"> 1969 <i class="dot"></i> 128 min <i class="type">Movie</i> </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
    </div>
    <div class="clearfix"></div>
</div>